/*=================================================
  HELPERS
===================================================

/*===================================================
  Height Helpers
===================================================== */
/* Height helpers, primarly used with panel widgets */

.h-a {
  height: auto !important;
}

.mh-10 {
  max-height: 10px !important;
}

.mh-15 {
  max-height: 15px !important;
}

.mh-20 {
  max-height: 20px !important;
}

.mh-25 {
  max-height: 25px !important;
}

.mh-30 {
  max-height: 30px !important;
}

.mh-35 {
  max-height: 35px !important;
}

.mh-40 {
  max-height: 40px !important;
}

.mh-45 {
  max-height: 45px !important;
}

.mh-50 {
  max-height: 50px !important;
}

.mh-55 {
  max-height: 55px !important;
}

.mh-60 {
  max-height: 60px !important;
}

.mh-65 {
  max-height: 65px !important;
}

.mh-70 {
  max-height: 70px !important;
}

.mh-100 {
  max-height: 100px !important;
}

.mh-200 {
  max-height: 200px !important;
}

.mh-300 {
  max-height: 300px !important;
}

.mh-400 {
  max-height: 400px !important;
}

.mh-500 {
  max-height: 500px !important;
}

.mh-600 {
  max-height: 600px !important;
}

.mh-700 {
  max-height: 700px !important;
}

.mh-800 {
  max-height: 800px !important;
}

.mh-900 {
  max-height: 900px !important;
}

.mh-1000 {
  max-height: 1000px !important;
}

.h-10 {
  height: 10px !important;
}

.h-15 {
  height: 15px !important;
}

.h-20 {
  height: 20px !important;
}

.h-25 {
  height: 25px !important;
}

.h-30 {
  height: 30px !important;
}

.h-35 {
  height: 35px !important;
}

.h-40 {
  height: 40px !important;
}

.h-45 {
  height: 45px !important;
}

.h-50 {
  height: 50px !important;
}

.h-55 {
  height: 55px !important;
}

.h-60 {
  height: 60px !important;
}

.h-65 {
  height: 65px !important;
}

.h-70 {
  height: 70px !important;
}

.h-100 {
  height: 100px !important;
}

.h-200 {
  height: 200px !important;
}

.h-300 {
  height: 300px !important;
}

.h-400 {
  height: 400px !important;
}

.h-500 {
  height: 500px !important;
}

.h-600 {
  height: 600px !important;
}

.h-700 {
  height: 700px !important;
}

.h-800 {
  height: 800px !important;
}

.h-900 {
  height: 900px !important;
}

.h-1000 {
  height: 1000px !important;
}

/*===================================================
  General/Misc Helpers
===================================================== */
/* overflow Helpers */

.of-a {
  overflow: auto !important;
}

.of-h {
  overflow: hidden !important;
}

.of-v {
  overflow: visible !important;
}

.of-x-a {
  overflow-x: auto !important;
}

.of-x-h {
  overflow-x: hidden !important;
}

.of-x-v {
  overflow-x: visible !important;
}

.of-y-a {
  overflow-y: auto !important;
}

.of-y-h {
  overflow-y: hidden !important;
}

.of-y-v {
  overflow-y: visible !important;
}

/* Vertical Align Helpers */

.va-t {
  vertical-align: top !important;
}

.va-m {
  vertical-align: middle !important;
}

.va-b {
  vertical-align: bottom !important;
}

.va-s {
  vertical-align: super !important;
}

/* Horizontal Align */

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

/* Inline Block Helper */

.dib {
  display: inline-block !important;
}

/* pointer cursor */

.cursor {
  cursor: pointer !important;
}

/*===============================================
  Text Helpers
================================================= */

.text-uppercase {
  text-transform: uppercase !important;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.fs-4 {
  font-size: 4px !important;
}

.fs-5 {
  font-size: 5px !important;
}

.fs-6 {
  font-size: 6px !important;
}

.fs-7 {
  font-size: 7px !important;
}

.fs-8 {
  font-size: 8px !important;
}

.fs-9 {
  font-size: 9px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-17 {
  font-size: 17px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.fs-24 {
  font-size: 24px !important;
}

.fs-26 {
  font-size: 26px !important;
}

.fs-28 {
  font-size: 28px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fs-35 {
  font-size: 35px !important;
}

.fs-40 {
  font-size: 40px !important;
}

.fs-45 {
  font-size: 45px !important;
}

.fs-50 {
  font-size: 50px !important;
}

/*===============================================
  Padding Helpers
================================================= */

.p-0 {
  padding: 0px !important;
}

.p-1 {
  padding: 1px !important;
}

.p-2 {
  padding: 2px !important;
}

.p-3 {
  padding: 3px !important;
}

.p-4 {
  padding: 4px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-6 {
  padding: 6px !important;
}

.p-7 {
  padding: 7px !important;
}

.p-8 {
  padding: 8px !important;
}

.p-9 {
  padding: 9px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-11 {
  padding: 11px !important;
}

.p-12 {
  padding: 12px !important;
}

.p-13 {
  padding: 13px !important;
}

.p-14 {
  padding: 14px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-16 {
  padding: 16px !important;
}

.p-17 {
  padding: 17px !important;
}

.p-18 {
  padding: 18px !important;
}

.p-19 {
  padding: 19px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-22 {
  padding: 22px !important;
}

.p-24 {
  padding: 24px !important;
}

.p-26 {
  padding: 26px !important;
}

.p-28 {
  padding: 28px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-35 {
  padding: 35px !important;
}

.p-40 {
  padding: 40px !important;
}

.p-45 {
  padding: 45px !important;
}

.p-50 {
  padding: 50px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-1 {
  padding-top: 1px !important;
}

.pt-2 {
  padding-top: 2px !important;
}

.pt-3 {
  padding-top: 3px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-6 {
  padding-top: 6px !important;
}

.pt-7 {
  padding-top: 7px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.pt-9 {
  padding-top: 9px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-11 {
  padding-top: 11px !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pt-13 {
  padding-top: 13px !important;
}

.pt-14 {
  padding-top: 14px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pt-17 {
  padding-top: 17px !important;
}

.pt-18 {
  padding-top: 18px !important;
}

.pt-19 {
  padding-top: 19px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-22 {
  padding-top: 22px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.pt-26 {
  padding-top: 26px !important;
}

.pt-28 {
  padding-top: 28px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pl-1 {
  padding-left: 1px !important;
}

.pl-2 {
  padding-left: 2px !important;
}

.pl-3 {
  padding-left: 3px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.pl-6 {
  padding-left: 6px !important;
}

.pl-7 {
  padding-left: 7px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.pl-9 {
  padding-left: 9px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.pl-11 {
  padding-left: 11px !important;
}

.pl-12 {
  padding-left: 12px !important;
}

.pl-13 {
  padding-left: 13px !important;
}

.pl-14 {
  padding-left: 14px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.pl-17 {
  padding-left: 17px !important;
}

.pl-18 {
  padding-left: 18px !important;
}

.pl-19 {
  padding-left: 19px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pl-22 {
  padding-left: 22px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.pl-26 {
  padding-left: 26px !important;
}

.pl-28 {
  padding-left: 28px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.pr-1 {
  padding-right: 1px !important;
}

.pr-2 {
  padding-right: 2px !important;
}

.pr-3 {
  padding-right: 3px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.pr-6 {
  padding-right: 6px !important;
}

.pr-7 {
  padding-right: 7px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.pr-9 {
  padding-right: 9px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-11 {
  padding-right: 11px !important;
}

.pr-12 {
  padding-right: 12px !important;
}

.pr-13 {
  padding-right: 13px !important;
}

.pr-14 {
  padding-right: 14px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.pr-17 {
  padding-right: 17px !important;
}

.pr-18 {
  padding-right: 18px !important;
}

.pr-19 {
  padding-right: 19px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pr-22 {
  padding-right: 22px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.pr-26 {
  padding-right: 26px !important;
}

.pr-28 {
  padding-right: 28px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-1 {
  padding-bottom: 1px !important;
}

.pb-2 {
  padding-bottom: 2px !important;
}

.pb-3 {
  padding-bottom: 3px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.pb-6 {
  padding-bottom: 6px !important;
}

.pb-7 {
  padding-bottom: 7px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.pb-9 {
  padding-bottom: 9px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pb-11 {
  padding-bottom: 11px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.pb-13 {
  padding-bottom: 13px !important;
}

.pb-14 {
  padding-bottom: 14px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pb-17 {
  padding-bottom: 17px !important;
}

.pb-18 {
  padding-bottom: 18px !important;
}

.pb-19 {
  padding-bottom: 19px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-22 {
  padding-bottom: 22px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.pb-26 {
  padding-bottom: 26px !important;
}

.pb-28 {
  padding-bottom: 28px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

/*===============================================
  Margin Helpers
================================================= */
/* margin center helper */

.mauto {
  margin-left: auto;
  margin-right: auto;
}

.m-0 {
  margin: 0px !important;
}

.m-1 {
  margin: 1px !important;
}

.m-2 {
  margin: 2px !important;
}

.m-3 {
  margin: 3px !important;
}

.m-4 {
  margin: 4px !important;
}

.m-5 {
  margin: 5px !important;
}

.m-6 {
  margin: 6px !important;
}

.m-7 {
  margin: 7px !important;
}

.m-8 {
  margin: 8px !important;
}

.m-9 {
  margin: 9px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-11 {
  margin: 11px !important;
}

.m-12 {
  margin: 12px !important;
}

.m-13 {
  margin: 13px !important;
}

.m-14 {
  margin: 14px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-16 {
  margin: 16px !important;
}

.m-17 {
  margin: 17px !important;
}

.m-18 {
  margin: 18px !important;
}

.m-19 {
  margin: 19px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-22 {
  margin: 22px !important;
}

.m-24 {
  margin: 24px !important;
}

.m-26 {
  margin: 26px !important;
}

.m-28 {
  margin: 28px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-35 {
  margin: 35px !important;
}

.m-40 {
  margin: 40px !important;
}

.m-45 {
  margin: 45px !important;
}

.m-50 {
  margin: 50px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-1 {
  margin-top: 1px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.mt-7 {
  margin-top: 7px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-9 {
  margin-top: 9px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-11 {
  margin-top: 11px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-13 {
  margin-top: 13px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.mt-17 {
  margin-top: 17px !important;
}

.mt-18 {
  margin-top: 18px !important;
}

.mt-19 {
  margin-top: 19px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.ml-1 {
  margin-left: 1px !important;
}

.ml-2 {
  margin-left: 2px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.ml-6 {
  margin-left: 6px !important;
}

.ml-7 {
  margin-left: 7px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-9 {
  margin-left: 9px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-11 {
  margin-left: 11px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-13 {
  margin-left: 13px !important;
}

.ml-14 {
  margin-left: 14px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.ml-17 {
  margin-left: 17px !important;
}

.ml-18 {
  margin-left: 18px !important;
}

.ml-19 {
  margin-left: 19px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-22 {
  margin-left: 22px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.ml-26 {
  margin-left: 26px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.mr-1 {
  margin-right: 1px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-3 {
  margin-right: 3px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-6 {
  margin-right: 6px !important;
}

.mr-7 {
  margin-right: 7px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mr-9 {
  margin-right: 9px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-11 {
  margin-right: 11px !important;
}

.mr-12 {
  margin-right: 12px !important;
}

.mr-13 {
  margin-right: 13px !important;
}

.mr-14 {
  margin-right: 14px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.mr-17 {
  margin-right: 17px !important;
}

.mr-18 {
  margin-right: 18px !important;
}

.mr-19 {
  margin-right: 19px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-22 {
  margin-right: 22px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.mr-26 {
  margin-right: 26px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-1 {
  margin-bottom: 1px !important;
}

.mb-2 {
  margin-bottom: 2px !important;
}

.mb-3 {
  margin-bottom: 3px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-6 {
  margin-bottom: 6px !important;
}

.mb-7 {
  margin-bottom: 7px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-9 {
  margin-bottom: 9px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-11 {
  margin-bottom: 11px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-13 {
  margin-bottom: 13px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-17 {
  margin-bottom: 17px !important;
}

.mb-18 {
  margin-bottom: 18px !important;
}

.mb-19 {
  margin-bottom: 19px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-22 {
  margin-bottom: 22px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

/* Negative Margin Helpers */

.mn-0 {
  margin: 0px !important;
}

.mn-1 {
  margin: -1px !important;
}

.mn-2 {
  margin: -2px !important;
}

.mn-3 {
  margin: -3px !important;
}

.mn-4 {
  margin: -4px !important;
}

.mn-5 {
  margin: -5px !important;
}

.mn-6 {
  margin: -6px !important;
}

.mn-7 {
  margin: -7px !important;
}

.mn-8 {
  margin: -8px !important;
}

.mn-9 {
  margin: -9px !important;
}

.mn-10 {
  margin: -10px !important;
}

.mn-11 {
  margin: -11px !important;
}

.mn-12 {
  margin: -12px !important;
}

.mn-13 {
  margin: -13px !important;
}

.mn-14 {
  margin: -14px !important;
}

.mn-15 {
  margin: -15px !important;
}

.mn-16 {
  margin: -16px !important;
}

.mn-17 {
  margin: -17px !important;
}

.mn-18 {
  margin: -18px !important;
}

.mn-19 {
  margin: -19px !important;
}

.mn-20 {
  margin: -20px !important;
}

.mn-22 {
  margin: -22px !important;
}

.mn-24 {
  margin: -24px !important;
}

.mn-26 {
  margin: -26px !important;
}

.mn-28 {
  margin: -28px !important;
}

.mn-30 {
  margin: -30px !important;
}

.mn-35 {
  margin: -35px !important;
}

.mn-40 {
  margin: -40px !important;
}

.mn-45 {
  margin: -45px !important;
}

.mn-50 {
  margin: -50px !important;
}

.mnt-0 {
  margin-top: 0px !important;
}

.mnt-1 {
  margin-top: -1px !important;
}

.mnt-2 {
  margin-top: -2px !important;
}

.mnt-3 {
  margin-top: -3px !important;
}

.mnt-4 {
  margin-top: -4px !important;
}

.mnt-5 {
  margin-top: -5px !important;
}

.mnt-6 {
  margin-top: -6px !important;
}

.mnt-7 {
  margin-top: -7px !important;
}

.mnt-8 {
  margin-top: -8px !important;
}

.mnt-9 {
  margin-top: -9px !important;
}

.mnt-10 {
  margin-top: -10px !important;
}

.mnt-11 {
  margin-top: -11px !important;
}

.mnt-12 {
  margin-top: -12px !important;
}

.mnt-13 {
  margin-top: -13px !important;
}

.mnt-14 {
  margin-top: -14px !important;
}

.mnt-15 {
  margin-top: -15px !important;
}

.mnt-16 {
  margin-top: -16px !important;
}

.mnt-17 {
  margin-top: -17px !important;
}

.mnt-18 {
  margin-top: -18px !important;
}

.mnt-19 {
  margin-top: -19px !important;
}

.mnt-20 {
  margin-top: -20px !important;
}

.mnt-22 {
  margin-top: -22px !important;
}

.mnt-24 {
  margin-top: -24px !important;
}

.mnt-26 {
  margin-top: -26px !important;
}

.mnt-28 {
  margin-top: -28px !important;
}

.mnt-30 {
  margin-top: -30px !important;
}

.mnt-35 {
  margin-top: -35px !important;
}

.mnt-40 {
  margin-top: -40px !important;
}

.mnt-45 {
  margin-top: -45px !important;
}

.mnt-50 {
  margin-top: -50px !important;
}

.mnl-0 {
  margin-left: 0px !important;
}

.mnl-1 {
  margin-left: -1px !important;
}

.mnl-2 {
  margin-left: -2px !important;
}

.mnl-3 {
  margin-left: -3px !important;
}

.mnl-4 {
  margin-left: -4px !important;
}

.mnl-5 {
  margin-left: -5px !important;
}

.mnl-6 {
  margin-left: -6px !important;
}

.mnl-7 {
  margin-left: -7px !important;
}

.mnl-8 {
  margin-left: -8px !important;
}

.mnl-9 {
  margin-left: -9px !important;
}

.mnl-10 {
  margin-left: -10px !important;
}

.mnl-11 {
  margin-left: -11px !important;
}

.mnl-12 {
  margin-left: -12px !important;
}

.mnl-13 {
  margin-left: -13px !important;
}

.mnl-14 {
  margin-left: -14px !important;
}

.mnl-15 {
  margin-left: -15px !important;
}

.mnl-16 {
  margin-left: -16px !important;
}

.mnl-17 {
  margin-left: -17px !important;
}

.mnl-18 {
  margin-left: -18px !important;
}

.mnl-19 {
  margin-left: -19px !important;
}

.mnl-20 {
  margin-left: -20px !important;
}

.mnl-22 {
  margin-left: -22px !important;
}

.mnl-24 {
  margin-left: -24px !important;
}

.mnl-26 {
  margin-left: -26px !important;
}

.mnl-28 {
  margin-left: -28px !important;
}

.mnl-30 {
  margin-left: -30px !important;
}

.mnl-35 {
  margin-left: -35px !important;
}

.mnl-40 {
  margin-left: -40px !important;
}

.mnl-45 {
  margin-left: -45px !important;
}

.mnl-50 {
  margin-left: -50px !important;
}

.mnr-0 {
  margin-right: 0px !important;
}

.mnr-1 {
  margin-right: -1px !important;
}

.mnr-2 {
  margin-right: -2px !important;
}

.mnr-3 {
  margin-right: -3px !important;
}

.mnr-4 {
  margin-right: -4px !important;
}

.mnr-5 {
  margin-right: -5px !important;
}

.mnr-6 {
  margin-right: -6px !important;
}

.mnr-7 {
  margin-right: -7px !important;
}

.mnr-8 {
  margin-right: -8px !important;
}

.mnr-9 {
  margin-right: -9px !important;
}

.mnr-10 {
  margin-right: -10px !important;
}

.mnr-11 {
  margin-right: -11px !important;
}

.mnr-12 {
  margin-right: -12px !important;
}

.mnr-13 {
  margin-right: -13px !important;
}

.mnr-14 {
  margin-right: -14px !important;
}

.mnr-15 {
  margin-right: -15px !important;
}

.mnr-16 {
  margin-right: -16px !important;
}

.mnr-17 {
  margin-right: -17px !important;
}

.mnr-18 {
  margin-right: -18px !important;
}

.mnr-19 {
  margin-right: -19px !important;
}

.mnr-20 {
  margin-right: -20px !important;
}

.mnr-22 {
  margin-right: -22px !important;
}

.mnr-24 {
  margin-right: -24px !important;
}

.mnr-26 {
  margin-right: -26px !important;
}

.mnr-28 {
  margin-right: -28px !important;
}

.mnr-30 {
  margin-right: -30px !important;
}

.mnr-35 {
  margin-right: -35px !important;
}

.mnr-40 {
  margin-right: -40px !important;
}

.mnr-45 {
  margin-right: -45px !important;
}

.mnr-50 {
  margin-right: -50px !important;
}

.mnb-0 {
  margin-bottom: 0px !important;
}

.mnb-1 {
  margin-bottom: -1px !important;
}

.mnb-2 {
  margin-bottom: -2px !important;
}

.mnb-3 {
  margin-bottom: -3px !important;
}

.mnb-4 {
  margin-bottom: -4px !important;
}

.mnb-5 {
  margin-bottom: -5px !important;
}

.mnb-6 {
  margin-bottom: -6px !important;
}

.mnb-7 {
  margin-bottom: -7px !important;
}

.mnb-8 {
  margin-bottom: -8px !important;
}

.mnb-9 {
  margin-bottom: -9px !important;
}

.mnb-10 {
  margin-bottom: -10px !important;
}

.mnb-11 {
  margin-bottom: -11px !important;
}

.mnb-12 {
  margin-bottom: -12px !important;
}

.mnb-13 {
  margin-bottom: -13px !important;
}

.mnb-14 {
  margin-bottom: -14px !important;
}

.mnb-15 {
  margin-bottom: -15px !important;
}

.mnb-16 {
  margin-bottom: -16px !important;
}

.mnb-17 {
  margin-bottom: -17px !important;
}

.mnb-18 {
  margin-bottom: -18px !important;
}

.mnb-19 {
  margin-bottom: -19px !important;
}

.mnb-20 {
  margin-bottom: -20px !important;
}

.mnb-22 {
  margin-bottom: -22px !important;
}

.mnb-24 {
  margin-bottom: -24px !important;
}

.mnb-26 {
  margin-bottom: -26px !important;
}

.mnb-28 {
  margin-bottom: -28px !important;
}

.mnb-30 {
  margin-bottom: -30px !important;
}

.mnb-35 {
  margin-bottom: -35px !important;
}

.mnb-40 {
  margin-bottom: -40px !important;
}

.mnb-45 {
  margin-bottom: -45px !important;
}

.mnb-50 {
  margin-bottom: -50px !important;
}

/*===============================================
  LineHeight Helpers
================================================= */

.lh-0 {
  line-height: 0px !important;
}

.lh-5 {
  line-height: 5px !important;
}

.lh-10 {
  line-height: 10px !important;
}

.lh-15 {
  line-height: 15px !important;
}

.lh-20 {
  line-height: 20px !important;
}

.lh-25 {
  line-height: 25px !important;
}

.lh-30 {
  line-height: 30px !important;
}

.lh-35 {
  line-height: 35px !important;
}

.lh-40 {
  line-height: 40px !important;
}

.lh-45 {
  line-height: 45px !important;
}

.lh-50 {
  line-height: 50px !important;
}

/*===============================================
  Border Helpers
================================================= */

.br-0 {
  border-radius: 0px !important;
}

.br-1 {
  border-radius: 1px !important;
}

.br-2 {
  border-radius: 2px !important;
}

.br-3 {
  border-radius: 3px !important;
}

.br-4 {
  border-radius: 4px !important;
}

.br-5 {
  border-radius: 5px !important;
}

.br-6 {
  border-radius: 6px !important;
}

.br-7 {
  border-radius: 7px !important;
}

.br-8 {
  border-radius: 8px !important;
}

.br-9 {
  border-radius: 9px !important;
}

.br-10 {
  border-radius: 10px !important;
}

.br-12 {
  border-radius: 12px !important;
}

.br-14 {
  border-radius: 14px !important;
}

.br-16 {
  border-radius: 16px !important;
}

.br-18 {
  border-radius: 18px !important;
}

.br-20 {
  border-radius: 20px !important;
}

.br-25 {
  border-radius: 25px !important;
}

.br-30 {
  border-radius: 30px !important;
}

.br-35 {
  border-radius: 35px !important;
}

/*===============================================
  Max Width Helpers
================================================= */

.fluid-width {
  width: 100% !important;
}

.w-0 {
  width: 0px !important;
}

.w-10 {
  width: 10px !important;
}

.w-20 {
  width: 20px !important;
}

.w-30 {
  width: 30px !important;
}

.w-35 {
  width: 35px !important;
}

.w-40 {
  width: 40px !important;
}

.w-45 {
  width: 45px !important;
}

.w-50 {
  width: 50px !important;
}

.w-60 {
  width: 60px !important;
}

.w-70 {
  width: 70px !important;
}

.w-80 {
  width: 80px !important;
}

.w-90 {
  width: 90px !important;
}

.w-100 {
  width: 100px !important;
}

.w-120 {
  width: 120px !important;
}

.w-140 {
  width: 140px !important;
}

.w-160 {
  width: 160px !important;
}

.w-180 {
  width: 180px !important;
}

.w-200 {
  width: 200px !important;
}

.w-220 {
  width: 220px !important;
}

.w-240 {
  width: 240px !important;
}

.w-260 {
  width: 260px !important;
}

.w-280 {
  width: 280px !important;
}

.w-300 {
  width: 300px !important;
}

.w-320 {
  width: 320px !important;
}

.w-340 {
  width: 340px !important;
}

.w-360 {
  width: 360px !important;
}

.w-380 {
  width: 380px !important;
}

.w-400 {
  width: 400px !important;
}

.mw-0 {
  max-width: 0px !important;
}

.mw-10 {
  max-width: 10px !important;
}

.mw-20 {
  max-width: 20px !important;
}

.mw-30 {
  max-width: 30px !important;
}

.mw-35 {
  max-width: 35px !important;
}

.mw-40 {
  max-width: 40px !important;
}

.mw-45 {
  max-width: 45px !important;
}

.mw-50 {
  max-width: 50px !important;
}

.mw-60 {
  max-width: 60px !important;
}

.mw-70 {
  max-width: 70px !important;
}

.mw-80 {
  max-width: 80px !important;
}

.mw-90 {
  max-width: 90px !important;
}

.mw-100 {
  max-width: 100px !important;
}

.mw-120 {
  max-width: 120px !important;
}

.mw-140 {
  max-width: 140px !important;
}

.mw-160 {
  max-width: 160px !important;
}

.mw-180 {
  max-width: 180px !important;
}

.mw-200 {
  max-width: 200px !important;
}

.mw-240 {
  max-width: 240px !important;
}

.mw-280 {
  max-width: 280px !important;
}

.mw-320 {
  max-width: 320px !important;
}

.mw-360 {
  max-width: 360px !important;
}

.mw-400 {
  max-width: 400px !important;
}

.mw-450 {
  max-width: 450px !important;
}

.mw-500 {
  max-width: 500px !important;
}

.mw-550 {
  max-width: 550px !important;
}

.mw-600 {
  max-width: 600px !important;
}

.mw-700 {
  max-width: 700px !important;
}

.mw-800 {
  max-width: 800px !important;
}

.mw-900 {
  max-width: 900px !important;
}

.mw-1000 {
  max-width: 1000px !important;
}

.mw-1100 {
  max-width: 1100px !important;
}

.mw-1200 {
  max-width: 1200px !important;
}

.mnw-0 {
  min-width: 0px !important;
}

.mnw-10 {
  min-width: 10px !important;
}

.mnw-20 {
  min-width: 20px !important;
}

.mnw-30 {
  min-width: 30px !important;
}

.mnw-35 {
  min-width: 35px !important;
}

.mnw-40 {
  min-width: 40px !important;
}

.mnw-45 {
  min-width: 45px !important;
}

.mnw-50 {
  min-width: 50px !important;
}

.mnw-60 {
  min-width: 60px !important;
}

.mnw-70 {
  min-width: 70px !important;
}

.mnw-80 {
  min-width: 80px !important;
}

.mnw-90 {
  min-width: 90px !important;
}

.mnw-100 {
  min-width: 100px !important;
}

.mnw-120 {
  min-width: 120px !important;
}

.mnw-140 {
  min-width: 140px !important;
}

.mnw-160 {
  min-width: 160px !important;
}

.mnw-180 {
  min-width: 180px !important;
}

.mnw-200 {
  min-width: 200px !important;
}

.mnw-240 {
  min-width: 240px !important;
}

.mnw-280 {
  min-width: 280px !important;
}

.mnw-320 {
  min-width: 320px !important;
}

.mnw-360 {
  min-width: 360px !important;
}

.mnw-400 {
  min-width: 400px !important;
}

.mnw-450 {
  min-width: 450px !important;
}

.mnw-500 {
  min-width: 500px !important;
}

.mnw-550 {
  min-width: 550px !important;
}

.mnw-600 {
  min-width: 600px !important;
}

.mnw-700 {
  min-width: 700px !important;
}

.mnw-800 {
  min-width: 800px !important;
}

.mnw-900 {
  min-width: 900px !important;
}

.mnw-1000 {
  min-width: 1000px !important;
}

.mnw-1100 {
  min-width: 1100px !important;
}

.mnw-1200 {
  min-width: 1200px !important;
}