	<div class="section col s8 m6 l6 offset-s2 offset-m3 offset-l3" id="sign-in">
		<div>
			<h5 translate></h5>
		</div>
		<form action="">
			<div class="card-panel clearfix">
				<div class="input-field">
					<input id="username-input" type="text" class="validate">
					<label for="username-input" class="" translate>Usuario</label>
				</div>

				<div class="input-field">
					<input id="password-input" type="password" class="validate">
					<label for="password-input" class="" translate>Contraseña</label>
				</div>
<br>
				<div>
					<input type="checkbox" id="remember" />
					<label for="remember"><span class="lever"></span>Recordar</label>
				</div>
<br>
				<button class="waves-effect waves-light btn z-depth-0 z-depth-1-hover teal" translate>Ingresar</button>
			</div>
		</form>
	</div> 